<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0" metadata-complete="false">

    <filter>
        <filter-name>LoggedFilter</filter-name>
        <filter-class>com.guat.myosotis.filter.LoggedFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggedFilter</filter-name>
        <url-pattern>/index.html</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>TokenFilter</filter-name>
        <filter-class>com.guat.myosotis.filter.TokenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>TokenFilter</filter-name>
        <url-pattern>/index.html</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>EntryFilter</filter-name>
        <filter-class>com.guat.myosotis.filter.EntryFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EntryFilter</filter-name>
        <url-pattern>/main/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>EntryFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserTypeFilter</filter-name>
        <filter-class>com.guat.myosotis.filter.UserTypeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserTypeFilter</filter-name>
        <url-pattern>/main/*</url-pattern>
    </filter-mapping>

</web-app>
