<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties" />

    <settings>
<!--        <setting name="logImpl" value="slf4j"/>-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.guat.myosotis.bean"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/guat/myosotis/bean/UserMapper.xml"/>
        <mapper resource="com/guat/myosotis/bean/AdminMapper.xml"/>
        <mapper resource="com/guat/myosotis/bean/EmployMapper.xml"/>
        <mapper resource="com/guat/myosotis/bean/DeptMapper.xml"/>
        <mapper resource="com/guat/myosotis/bean/AnnounceMapper.xml"/>
        <mapper resource="com/guat/myosotis/bean/MyMeetingMapper.xml"/>
        <mapper resource="com/guat/myosotis/bean/SuggestMapper.xml"/>
        <mapper resource="com/guat/myosotis/bean/DocumentMapper.xml"/>
        <mapper resource="com/guat/myosotis/bean/PropertyMapper.xml"/>
    </mappers>

</configuration>