* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 取消斜体 */
em,
i {

    font-style: normal
}
/* 取消圆点 */
li {
    list-style: none
}
/* 图文对齐 */
img,
input{
    vertical-align: middle
}
/* 变化鼠标样式 */
button,a{
    cursor: pointer
}

a {
    text-decoration: none;
}

body {
    /* 抗锯齿 */
    -webkit-font-smoothing: antialiased;
    font: 12px/1.5 Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
}